#about-section {
  background: $bg-home;
}

.test {
  height: 200px;
  background-image: url('/assets/img/images/dots.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}