@import 'variables';
@import 'mixins';
@import './sections/_header';
@import './sections/_home';
@import './sections/_about';
@import './sections/_reference';
@import './sections/_contact';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

body {
  position: relative;
}

footer {
  background-color: $bg-footer;

  h2, p {
    color: $bg-home;
  }
}

#toTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  transition: opacity .3s;
}

#toTop.uk-button {
  padding: 10px;
  line-height: 0;
  @include rounded(50%);
}