$enable-rounded: true;

@mixin rounded($value: 8px){
  @if $enable-rounded {
    border-radius: $value;
  }
}

@mixin bgPrimary(){
  background: rgb(50,68,226);
  background: linear-gradient(45deg, rgba(50,68,226,1) 0%, rgba(94,126,240,1) 100%);
}

@mixin objectFit(){
  height: 100%;
  width: 100%;
  object-fit: cover;
}